// Dropdown menu containing the pickerId of the active font and the dropdown icon (loading/arrow/error)
.dropdown-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: $element-height;
	padding: 0 10px;
	background: $color-dropdown-button;

	&:hover,
	&.expanded,
	&:focus {
		background: darken($color-dropdown-button, 5%);
	}

	.dropdown-font-name {
		overflow: hidden;
		white-space: nowrap;
	}
}

// Dropdown icon indicating the state (spinner while loading the font list, arrow when loaded successfully, warning icon
// on error)
.dropdown-icon {
	margin-left: 10px;

	// Spinner animation
	@keyframes spinner {
		to {
			transform: rotate(360deg);
		}
	}

	// Loading icon
	&.loading::before {
		display: block;
		width: 10px;
		height: 10px;
		border: 2px solid darken($color-dropdown-button, 10%);
		border-top-color: #000000;
		border-radius: 50%;
		animation: spinner 0.6s linear infinite;
		content: "";
	}

	// Dropdown arrow
	&.finished::before {
		display: block;
		width: 0;
		height: 0;
		margin: 0 2px; // center arrow in comparison to loading spinner
		border-top: 6px solid #000000;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		transition: transform $transition-duration;
		content: "";
	}

	// Error icon
	&.error::before {
		content: "⚠";
	}
}

// Rotate dropdown arrow on expand/collapse
.dropdown-button.expanded .dropdown-icon.finished::before {
	transform: rotate(-180deg);
}
