// Font list
ul {
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: $color-font-list;
	box-shadow: $box-shadow;
	transition: $transition-duration;
	-webkit-overflow-scrolling: touch;

	&.expanded {
		max-height: 200px;
	}

	// Font list elements
	li {
		height: $element-height;
		list-style: none;

		// Button inside font list element (completely fills <li>)
		button {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 0 10px;
			white-space: nowrap;

			&:hover,
			&:focus {
				background: darken($color-font-list, 5%);
			}

			&.active-font {
				background: darken($color-font-list, 10%);
			}
		}
	}
}
