@import "variables";

// match all font picker IDs (e.g. font-picker, font-picker-main, ...)
div[id^="font-picker"] {
	@import "reset";

	// style font picker container
	position: relative;
	display: inline-block;
	width: 200px;
	box-shadow: $box-shadow;

	@import "dropdown-button";
	@import "dropdown-list";
}
