$element-height: 35px;
$width: 200px;

$color-dropdown-button: #CBCBCB;
$color-font-list: #EAEAEA;


#font-picker {
	width: $width;
	position: relative;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

	* {
		box-sizing: border-box;
	}

	p {
		margin: 0;
		padding: 0;
	}

	// remove link styling
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	#dropdown-button {
		height: $element-height;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		background-color: $color-dropdown-button;

		&:hover, &.expanded {
			background-color: darken($color-dropdown-button, 5%);
		}
	}

	ul {
		max-height: 0;
		width: $width;
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		margin: 0;
		padding: 0;
		background-color: $color-font-list;
		transition: 0.3s;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

		&.expanded {
			max-height: 200px;
		}

		li {
			height: $element-height;
			list-style: none;

			&:hover {
				background-color: darken($color-font-list, 5%);
			}

			&.active-font {
				background-color: darken($color-font-list, 10%);
			}

			a {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0 10px;
				white-space: nowrap;
				width: 100%;
			}
		}
	}
}