$box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
$color-dropdown-button: #CBCBCB;
$color-font-list: #EAEAEA;
$element-height: 35px;


#font-picker {
	display: inline-block;
	width: 200px;
	position: relative;
	box-shadow: $box-shadow;

	* {
		box-sizing: border-box;
	}

	p {
		margin: 0;
		padding: 0;
	}

	// remove link styling
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		outline: none;
	}

	#dropdown-button {
		height: $element-height;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		background-color: $color-dropdown-button;

		&:hover,
		&.expanded,
		&:focus {
			background-color: darken($color-dropdown-button, 5%);
		}
	}

	ul {
		max-height: 0;
		width: 100%;
		position: absolute;
		z-index: 1;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		margin: 0;
		padding: 0;
		background-color: $color-font-list;
		transition: 0.3s;
		box-shadow: $box-shadow;

		&.expanded {
			max-height: 200px;
		}

		li {
			height: $element-height;
			list-style: none;

			a {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0 10px;
				white-space: nowrap;
				width: 100%;

				&:hover,
				&:focus {
					background-color: darken($color-font-list, 5%);
				}

				&.active-font {
					background-color: darken($color-font-list, 10%);
				}
			}
		}
	}
}